<!DOCTYPE html>

<html>
  <head><title>Lots of Wisdom</title></head>
  <body>
  	<h4>{{name}}</h4>
    <p> Ingredients: {{igd}}</p>
    <hr>
    <h4>{{place}}</h4>
    <ul>
      <li>Capital: {{cpt}}</li>
      <li>Region: {{rg}}</li>
      <li>Subregion: {{srg}}</li>
      <li>Population: {{p}}</li>
      <li>Time Zone: {{tz}}</li>
    </ul>
    <hr>
    <p>Here's something you can do instead of procrastinating...</p>
    <h4>{{task}}</h4>
    <p>Activity type: {{at}}</p>
    <p>Price: {{pc}}</p>
  </body>
 </html>